
.card-container {
  max-width: 344px;
  max-height: 426px;
  padding: 10px;
}

.header-avatar {
  background-size: cover;
  cursor: pointer;
}

.video {
  max-width: 344px;
  max-height: 240px;
  cursor: pointer;
}

button {
  background-color: rgb(106, 176, 241);
}

.card-body-content {
  max-width: 344px;
  max-height: 220px;

}

.content {
  align-content: space-around;
}
mat-grid-tile {
  background: rgb(207, 119, 248);
}